version: '3.8'

services:
  # 첫 번째 앱 (Blue)
  next-blue:
    build: .
    ports:
      - "3001:3000"

  # 두 번째 앱 (Green)
  next-green:
    build: .
    ports:
      - "3002:3000"

  nginx:
      image: nginx:latest
      container_name: nginx-proxy
      ports:
        - "80:80"
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # blue와 green이 먼저 떠야 nginx가 실행되도록 설정
      depends_on:
        - next-blue
        - next-green